<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header') %>
  <h1><%= title %></h1>
  <div class="content">
    <img src="/images/Emran.jpeg" alt="Emraan Hashmi">
    <p>Emraan Hashmi is known for his work in Bollywood films, often portraying characters with grey shades. He gained recognition for his roles in films such as Murder, Gangster, and Once Upon a Time in Mumbaai.</p>
    <p>Emraan Hashmi is also known as the "serial kisser" of Bollywood for his on-screen kisses. However, he has also received praise for his acting skills and performances.</p>
  </div>
</body>
</html>
