<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header') %>
  <h1><%= title %></h1>
  <div class="content">
    <img src="/images/Amir Khan.jpeg" alt="Aamir Khan">
    <p>Aamir Khan is known for his versatility and commitment to his roles. He has appeared in a wide range of films, from the comedy Andaz Apna Apna to the critically acclaimed drama Lagaan.</p>
    <p>Aamir Khan is also a filmmaker and has produced several successful films under his production banner, Aamir Khan Productions.</p>
  </div>
</body>
</html>
