<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header') %>
  <h1><%= title %></h1>
  <div class="content">
    <img src="/images/sallubhai.jpeg" alt="Salman Khan">
    <p>Salman Khan is a Bollywood actor known for his roles in popular films such as Bajrangi Bhaijaan, Sultan, and Dabangg. He is also a producer and television personality.</p>
    <p>Salman Khan has a huge fan following and is known for his philanthropic work through his charity organization Being Human Foundation.</p>
  </div>
</body>
</html>
