<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('header') %>
  <h1><%= title %></h1>
  <div class="content">
    <img src="/images/SRK.jpeg" alt="Shah Rukh Khan">
    <p>Shah Rukh Khan, also known as SRK, is one of the most popular actors in Bollywood. He has appeared in numerous hit films, including Dilwale Dulhania Le Jayenge, Kuch Kuch Hota Hai, and My Name Is Khan.</p>
    <p>SRK is also a film producer and television personality. He has received several awards for his contributions to the Indian film industry.</p>
  </div>
</body>
</html>
